.cart{
    
    &__title{
        height: 5rem;
        color:$black;
        background-color: $yellow;
        font-family: $roboto;
        @include flex(row,center,center,1rem);
        i{
            font-size: 3rem;
        }
    }

    &__products{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));
        gap: 2rem;
        justify-items: center;
        margin: 2rem;
        .product{
            width: 15rem;
            @include flex(column, center, center, 0rem);
            background-color: $gray-ligth;
            border-radius: 10px;
           
            img {
                width: 13.5rem;
                margin-top: 1rem;
            }

            h5 {
                font-family: $josefin;
                font-weight: bold;
                font-size: 1rem;
                color: $gray;
                margin: 1rem 1rem 1rem 1rem;
                }

            .unit{
                @include flex(row, center, center, 0.5rem);
                input{
                    width: 80px;
                    text-align: center;
                }   
            }
            
            
            strong {
                font-family: $roboto;
                font-size: 1.5rem;
                color: $black;
                padding-bottom: 1rem;
            }
        }
    }

    .cart__options{
        background-color: $yellow;
        height: 6rem;
       
        @include flex(row,center,center,2rem);
        .total{
            display: flex;
            gap: 1rem;
            h2:first-child{
                color: $black;
                font-family: $roboto;
            }
            h2{
                color: rgb(157, 10, 194);
                font-family: $josefin;
                font-weight: bold;
                font-size: 2rem;
            }
        }
    }

    .emptyCart{
        height: 90%;
        background-image:url('/img/sin_productos.png');
        @include flex(column, center, center, 2rem);
    }
}

@media(max-width:800px){
    .cart{
     .cart__options {
        @include flex(column, center, center, 2rem);
        height: auto;
        padding: 2rem 0rem 2rem 0rem;
       }
    }
}