.filter {
    @include flex(column, center, center, 0rem);
    background-color: $gray;
    margin: 2rem;
    border-radius: 1rem;

    h3 {
        padding-top: 1rem;
        font-size: 2rem;
        font-family: $josefin;
        color: $white;
        font-weight: bold
    }

    nav {
        ul {
            @include flex(row, center, center, 1.5rem);
            flex-wrap: wrap;

            li {
                list-style: none;
                padding: 0.5rem;

                a {
                    color: $white;
                }
            }

            li:hover {
                background-color: $orange;
            }
        }
    }
}