.filter {
    @include flex(column, center, center, 0rem);
    background-color: $gray;
    margin: 2rem;
    border-radius: 0rem 0rem 1rem 1rem;

    h3 {
        padding-top: 1rem;
        font-size: 2rem;
        font-family: $josefin;
        color: $white;
        font-weight: bold
    }

    nav {
        ul {
            @include flex(row, center, center, 1.5rem);
            flex-wrap: wrap;

            li {
                list-style: none;
                padding: 0.5rem;

                a {
                    font-size: 1rem;
                    color: $white;

                    .activeLink {
                        color: $orange;
                        font-weight: bold;
                    }

                    .activeLink:hover {
                        color: $white;
                    }

                }

            }
        }
    }
}

@media (max-width:480px) {
    .filter {
        nav {
            ul {
                @include flex(column, center, center, 1.5rem);
                flex-wrap: nowrap;
            }

        }
    }
}