.error{
    background-color: #f4f4f4;

    @include flex(row, center, center, 2rem);

    img {
        width: 50%;
        height: auto;
    }

    .text {
        text-align: center;

        h2 {
            font-size: 2.5rem;
            font-family: $roboto;
            color: #1c2e35;
        }

        p {
            font-size: 1.2rem;
            font-family: $josefin;
            color: $gray;
        }

        button {
            width: 10rem;
            height: 2.5rem;
            background-color: #76d7cf;
            border: none;
            border-radius: 20px;
            box-shadow: 3px 3px $gray ;
        }
    }
}

@media (max-width:800px) {
    .errorItemDetails {
        @include flex(column, center, center, 2rem);
    }
}