* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex($direction, $justify-content, $align-items, $gap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  gap: $gap;
}

body {
  display: grid;
  grid-template-areas: "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 20vh 80vh auto;

}

@import "./Vars.scss";
@import "./Header.scss";
@import "./Navbar.scss";
@import "./CartWidget.scss";
@import "./Main.scss";
@import "./ItemListContainer.scss";
@import "./Footer.scss";
@import "./SocialMedia.scss";
@import "./Developer.scss";
@import "./Home.scss";
@import "./ItemList.scss";
@import "Categories.scss";
@import "./Item.scss";
@import "./SearchProducts.scss";
@import "./ItemDetails.scss";
@import "./ItemCount.scss";
@import "./Contacts.scss";
@import "./Pagination.scss";