.titleList {
    height: 4rem;
    @include flex(row,center,center,0rem);
    margin: 2rem;
    background-color: $green;
    color: $white;
    border-radius: 1rem;

}

.itemList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
    justify-items: center;
    margin-bottom: 2rem;
}
