.itemDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    justify-items: center;
    align-items: center;
    width: 100%;

    .itemDetails__image {
        img {
            width: 100%;
            height: auto;
        }

        ;

        img:hover {
            scale: 1.5;
            cursor: zoom-in;
        }
    }

    .itemDetails__details {
        @include flex(column, center, center, 2rem);

        .text {
            display: flex;
            flex-direction: column;
            width: 80%;

            h2 {
                font-size: 2rem;
                font-family: $roboto;
                color: $orange;
            }

            p {
                margin-top: 1rem;
                font-size: 1rem;
                text-transform: uppercase;
                text-align: justify;
                line-height: 1.5rem;
                font-family: $josefin;
                font-weight: bold;
                color: $gray;
            }

            strong {
                font-size: 2rem;
                font-family: $roboto;
            }
        }

        .options {
            .addToCart {
                @include flex(column, center, center, 2rem);
                .buttonAddToCart {
                    button {
                        height: 2.5rem;
                        width: 10rem;
                        background-color: $green-hard;
                        color: $white;
                        border: none;
                    }

                    button:hover {
                        background-color: white;
                        color: $green-hard;
                        border: 1px solid $green-hard;
                    }

                }

            }
            
            .return {
                margin-top: 2rem;
                @include flex(column, center, center, 0rem);
                button {
                    width: 8rem;
                    height: 2.3rem;
                    border: none;
                    border-radius:10px;
                    color: $white;
                    background-color: $gray;
                }
            }
          
            .buy {
                margin-top: 2rem;
                text-align: center;

                h6 {
                    font-size: 1.3rem;
                    font-style: oblique;
                    color: $black;
                    font-family: $roboto;
                }

                img {
                    width: 70%;
                    height: auto;
                }
            }
        }

    }


}

@media (max-width: 500px) {
    .itemDetails {
        grid-template-columns: 1fr;

    }

}