.item {
    width: 15rem;
    @include flex(column, center, center, 0rem);
    background-color: $gray-ligth;
    border-radius: 10px;
    img {
        width: 13.5rem;
        margin-top: 1rem;
    }

    .item__text {
        @include flex(column, center, center, 0rem);

        h5 {
            font-family: $josefin;
            font-weight: bold;
            font-size: 1rem;
            color: $gray;
            margin: 1rem 1rem 1rem 1rem;
        }

        strong {
            font-family: $roboto;
            font-size: 1.5rem;
            color: $black;
        }

        button {
            width: 13.5rem;
            height: 2rem;
            border: none;
            background-color: $yellow;
            font-family: $roboto;
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
            visibility: hidden;
        }

    }

}

.item:hover {
    box-shadow: 2px 2px 2px 3px $yellow;
    button {
        visibility: visible;
    }
}

@media (max-width:900px) {
    .item {
        .item__text {
            button {
                visibility: visible;
            }
        }
    }

}