.loginWidget{
    color: $white !important;
    font-size: 1rem;
    @include flex(row,start,center,0rem);
    .itemLinks{
        @include flex(column, start, center, 0.2rem);
    
    }
   #basic-nav-dropdown{
    color:$white !important;
    font-family: $finger;
   
   }
}