h1 {
    color:$white;
    font-size: 0.6rem;
    font-style: oblique;
    margin-left: 1.5rem;
}
.nav {
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;


    .link {
        font-family: $finger;
        color: $white;
        font-size: 1rem;
    }

    .activeLink{
        color: $orange;
    }
}

@media (max-width: 480px) {
    .nav {
        gap: 5px;
    }
}