.nav{
    display: flex;
    flex-wrap: nowrap;
    gap: 50px;
    
    .link{
        font-family: $finger;
        
    }
    .link:hover{
        background-color:$orange;
        border-radius: 5px;
    }
}   

@media (max-width: 500px) {
    .nav{
        gap: 5px;
    }
  
}