.socialMedia{
    .socialMedia-items{
        list-style: none;
        @include flex(row,space-evenly,center,0rem);
        padding-top: 1rem;
      
        li{
            a{
                font-size: 2rem;
                color: $white;
            }

            a:hover{
                color: $orange;
                cursor:hand ;
            }
        }
        
    }
}