//Colors
$black : #000000;
$white : #FFFFFF;
$orange : #FF5733;
$gray: #566573;
$gray-ligth: rgb(247, 245, 242);
$yellow: #d4f12d;
$green: #58D68D;
$green-hard: #17A589;
//Font family
$finger: 'Finger Paint', cursive;
$pacifico :'Pacifico',
cursive;
$roboto: 'Roboto', sans-serif;
$josefin: 'Josefin Sans', sans-serif;